<head>
     <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      
               
              
              
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
       </head>

<h2>movie title is {{film.title}}</h2>
<div><span>id: </span> {{fid}} </div>
<div><label>Film ID :
     <input [(ngModel)] = "fid" placeholder="fid" (input)="updateFilm()"/>
</label></div>
<ul *ngFor = "let f of films">
     <li>{{f.fid}} . {{f.title}} - {{f.year}} -- - {{f.rate}}</li>
</ul>

<h2>API data </h2>
<ul *ngFor = "let ff of filmsAPI">
     <li>{{ff.fid}} . {{ff.title}} - {{ff.year}} -- - {{ff.rate}}</li>
</ul>
